:before,
:after,
:root {
	scroll-behavior: smooth;

	/* Main colors */
	--c-brand: #00aaff;
	--c-main-1: #002233;
	--c-main-2: #365463;
	--c-bg: #dfe8ec;
	--c-second-1: #fcfdfd;
	--c-second-2: #e7ecef;
	--c-second-3: #d1dbe0;
	--c-second-4: #95a8b1;
	--c-light: #00000026;
	--shadow-color: #0022334d;
	--border-radius: 0.85rem;
	--border-radius-light: 0.25rem;

	/* Accent colors */
	--c-green: #37d73a;
	--c-blue: #29ffe2;
	--c-red: #fa3600;
	--c-orange: #f0a505;
	--c-yellow: #d9eb37;
	--c-pink: #8c46aa;

	/* Other */
	--shadow: 0px 0.25rem 1rem 0px var(--shadow-1-color);
	--transition-in: 0.25s ease-in;
	--transition-out: 0.15s ease-out;
}
.dark :before,
.dark :after,
.dark {
	/* Main colors */
	--c-brand: #2b6380;
	--c-main-1: #d3dbde;
	--c-main-2: #a1a7aa;
	--c-bg: #171a1c;
	--c-second-1: #22282a;
	--c-second-2: #303436;
	--c-second-3: #3d4143;
	--c-second-4: #626c6e;
	--shadow-color: #d8d3e41a;
	--c-light: #ffffff0d;

	/* Accent colors */
	--c-green: #245225;
	--c-blue: #006c5e;
	--c-red: #882306;
	--c-orange: #584722;
	--c-yellow: #8a9150;
	--c-pink: #411952;

}
::selection {
	color: var(--c-bg);
	background: var(--c-brand);
}
::-webkit-scrollbar {
	width: 0.6rem;
	height: 0.6rem;
}
::-webkit-scrollbar-track {
	background: var(--c-second-1);
}
::-webkit-scrollbar-thumb {
	background: var(--c-second-4);
	border-radius: var(--border-radius-light);
	&:hover {
		background: var(--c-brand);
	}
}
