@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url('../fonts/Montserrat-Regular-400.woff2') format('woff2'),
		url('../fonts/Montserrat-Regular-400.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
